.productdisplay{
    display:flex;
    margin: 0px 50px;
    gap: 20px;

}
.productdisplay-left{
 display: flex;
 flex-direction: row;
gap: 15px;
 
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16;
    width: 156px;
    height: 100px;
    /* width: 50px; */
}
.productdisplay-img-list img{
   display:flex;
   height: 170px;
   width: 135px;
   margin: 10px;
    
}
.productdisplay-main-img{

/* .producedisplay-main-img{ */
    margin-top: 10px;
    width: 486px;
    height: 704px;

}
.productdisplay-right{
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 25px;
    font-weight: 700;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    gap: 20px;
    font-size: 20px;
    font-weight: 700
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right-description{
    font-size: 15px;

}

.productdisplay-right-size h1{
    display: flex;
    margin: 20px 0px;
    font-size: 10;
    gap: 10px;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 20px 0px;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 14px 20px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    font-size: 10;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 10px;
    font-weight: 300;
    

}
.productdisplay-right-category span{
    font-weight: 600;
}

